<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item  lines="none">
      <ion-avatar slot="start">
        <img src="assets/person.png">
      </ion-avatar>
      <ion-label>Account Name</ion-label>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="tab1">
        Following
      </ion-col>
      <ion-col class="tab2">
        Followers
      </ion-col>
      <ion-col class="tab3">
        Post
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="sm">
    <ion-card-content>
      <ion-label style="font-size: 20px;">Social Media</ion-label><br>
      <ion-label>Facebook</ion-label><br>
      <ion-label>Twitter</ion-label><br>
      <ion-label>Instagram</ion-label><br>
      <ion-label>Tiktok</ion-label><br>
    </ion-card-content>
  </ion-card>
</ion-content>
