<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileform" class="inputs">
    <ion-label class="inputName">First Name</ion-label>
    <ion-input disabled="true" formControlName="firstname"  value=""></ion-input>
    <ion-label class="inputName">Last Name</ion-label>
    <ion-input disabled="true" formControlName="lastname"  value=""></ion-input>
    <ion-label class="inputName">Username</ion-label>
    <ion-input disabled="true" formControlName="username"  value=""></ion-input>
    <ion-label class="inputName">Email</ion-label>
    <ion-input disabled="true" formControlName="email"  value=""></ion-input>
    <ion-label class="inputName">Password</ion-label>
    <ion-input disabled="true" formControlName="password"  value=""></ion-input>
    <ion-label class="inputName">Confirm Password</ion-label>
    <ion-input disabled="true" formControlName="confirmpassword"  value=""></ion-input>
    <ion-label class="inputName">Facebook</ion-label>
    <ion-input disabled="true" formControlName="facebook"  value=""></ion-input>
    <ion-label class="inputName">Twitter</ion-label>
    <ion-input disabled="true" formControlName="twitter"  value=""></ion-input>
    <ion-label class="inputName">Instagram</ion-label>
    <ion-input disabled="true" formControlName="instagram"  value=""></ion-input>
    <ion-label class="inputName">Tiktok</ion-label>
    <ion-input disabled="true" formControlName="tiktok"  value=""></ion-input>
    <ion-button (click)="updateform()" color="success" class="btn">Show My Profile</ion-button>
  </form>
  
</ion-content>
