.ion-toolbar{
    width: 97.5%;
    margin-top: 5px;
    margin-left: 5px;
    color:#93F9B9;
    font-family:Calibri;
    border-radius: 15px;
    border:1px #93F9B9 solid;
  }
ion-card{
    height:70px;
    border: 2px #93F9B9 solid;
}
img{
    height: 50px;
    width:50px;
}
ion-row{
    margin:5px;
    border: 2px #93F9B9 solid;
    border-radius: 10px;
}

.tab1{
    background-color: #212121;
    height:50px;
    padding-top: 15px;
    text-align: center;
}
.tab2{
    background-color: #212121;
    height:50px;
    padding-top: 15px;
    text-align: center;
}
.tab3{
    background-color: #212121;
    height:50px;
    padding-top: 15px;
    text-align: center;
}
ion-card-content{
    padding:10px;
}
.sm{
    height:200px;
}