<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" class="inputs">
    <ion-label class="inputName">Full Name</ion-label>
    <ion-input formControlName="fullname"  value=""></ion-input>
    <ion-label class="inputName">Email</ion-label>
    <ion-input formControlName="email"  value=""></ion-input>
    <ion-label class="inputName">Contact</ion-label>
    <ion-input formControlName="contact"  value=""></ion-input>
    <ion-label class="inputName">Password</ion-label>
    <ion-input formControlName="password"  value=""></ion-input>

    <ion-button (click)="update()" color="success">update</ion-button>
  </form>
  
</ion-content>
