<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 10px;text-align: center;">
    <ion-labe style="font-size: 20px;color: white;">A directory of wonderful things</ion-labe>
  </ion-card>
  <ion-card style="padding: 10px;">
    <ion-label>Email</ion-label><br>
    <ion-label>Contact</ion-label><br>
    <ion-label>Social Media</ion-label><br>
    <ion-label>Fcebook</ion-label><br>
    <ion-label>Instagram</ion-label><br>
    <ion-label>Twitter</ion-label><br>
  </ion-card>

</ion-content>
